/**
 * Smooth Scroll
 */
html {
  scroll-behavior: smooth;
}

/**
 * Body BG color
 */
body {
  background-color: #9398B5 !important;
}

/**
 * Survey page BG color
 */
.survey-bg {
  background-color: #F5F5FA;
}

/**
 * Scroll bar custom
 */
::-webkit-scrollbar {
  width: .60rem;
  background-color: hsl(230, 12%, 90%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(230, 12%, 80%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 8%, 65%);
}

/**
 * NAVBAR
 */
#navbar {
  background-color: #fefaf6;
}

/**
 * Nav change color on scroll
 */
#header.scrolled {
  background-color: #FFFFFF !important;
  /* transition: background-color 300ms linear; */
}

#dog-navbar a,
#dog-navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: #575757;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
}

#dog-navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #19B394;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

#dog-navbar a:hover:before,
#dog-navbar li:hover>a:before,
#dog-navbar .active:before {
  visibility: visible;
  width: 100%;
}

#dog-navbar a:hover,
#dog-navbar .active,
#dog-navbar .active:focus,
#dog-navbar li:hover>a {
  color: #19B394;
}

@media (max-width: 768px) {

  #dog-navbar a:hover:before,
  #dog-navbar li:hover>a:before,
  #dog-navbar .active:before {
    visibility: hidden;
  }
}

/**
 * NAVBAR Logo
 */
.navbar-logo {
  color: #19B394 !important;
  font-weight: 600;
}

.scroll-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/**
 * SURVEY PAGE SECTION
 */
.survey-bg {
  background-size: 250px;
  /* background-repeat: repeat; */
  background-position: center top;
  /* background-attachment: fixed; */
}
.overlay-survey-page-section .container {
  padding-top: 72px;
}

/**
 * SURVEY CUSTOMIZATION
 */

/* Survey Body */
.sd-root-modern {
  background-color: #9398B5;
}
.sd-body {
  background-color: #9398B5;
  /* background-color: #FFFFFF; */
}

/* Survey Title Container */
.sd-title.sd-container-modern__title {
  border: 2px solid #19B394;
  border-radius: 1rem;
  box-shadow: none !important;
  text-align: center;
}

/* Survey Title Header */
.sd-header__text h3 {
  color: #19B394 !important;
}

/* Survey Question Title Container */
.sd-question--html {
  border: 2px solid #19B394 !important;
  /* border-left: 1px solid lightgray !important; */
}

/* Survey Question Container */
.sd-row__question {
  border: 1px solid lightgray;
  border-radius: 1rem !important;
  border-left: 4px solid #19B394;
  /* border-right: 4px solid #19B394; */
  padding-top: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 2rem !important;
  padding-left: 2rem !important;
  background-color: #FFFFFF;
  /* text-align: center; */
}
.sd-row--multiple>div>.sd-question {
  padding-right: 2rem !important;
}
.sd-page__row {
  padding-left: 0 !important;
}

/* Dog experience visible on click container */
.sd-page__row.sd-row--multiple {
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
:not(.svc-row)>.sd-row--multiple>div {
  /* padding-left: 0 !important; */
  padding-left: var(--base-unit, 8px) !important;
  padding-right: var(--base-unit, 8px) !important;
}

.sd-page__row {
  padding-left: calc(2 * var(--base-unit, 8px));
}

/* Survey Bottom Btn Container */
.sd-action-bar {
  justify-content: center;
}

/* Survey Bottom Btn Border */
.sd-btn {
  border-radius: 2rem !important;
}