<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saving Dog</title>

  <!-------------------- CSS IMPORTS -------------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">

  <!-------------------- MAIN CSS -------------------->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dog_info.css') }}">

  <!-------------------- JS IMPORTS -------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/survey-jquery" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <script src="https://kit.fontawesome.com/4946433bc0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

</head>

<body>

  <!-------------------- NAVBAR 1 -------------------->
  <header id="header" class="">
    <nav class="navbar navbar-expand-md navbar-light py-3" id="navbar" aria-label="dog-navbar">
      <!-- navbar expands at md -->
      <div class="container">

        <!-- NAV-LOGO -->
        <a class="navbar-brand navbar-logo" href="#home" onclick="moveToHomePage()">Saving Dog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dog-navbar" aria-controls="dog-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV-COLLAPSE -->
        <div class="collapse navbar-collapse" id="dog-navbar">

          <!-- NAV-LINKS -->
          <ul class="navbar-nav ms-auto">

            <!-- LINK to HOME SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link nav-home" href="#home-section" onclick="moveToHomePage()">Home</a></li>

            <!-- LINK to FIND DOG SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link active nav-find-dog" href="#find-dog-section" onclick="moveToAbandonedDogPage()">유기견 찾기</a></li>

            <!-- LINK to SURVEY SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link nav-survey" href="#survey-section" onclick="moveToSurveyPage()">AI 유기견 추천</a></li>

          </ul>

        </div>
      </div>
    </nav>
  </header>

  <!-------------------- NAVBAR 2 -------------------->
  <nav class="navbar navbar-expand navbar-light py-3 sticky-top" id="navbar2" aria-label="dog-navbar2">
    <div class="container" id="dog-navbar2">
      <ul class="navbar-nav filter-search-nav">

        <!-- NAV-FILTER SEARCH -->
        <li class="nav-item me-2">
          <a class="nav-link dog-search filter-search-links" data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="fa-solid fa-magnifying-glass fa-lg dog-search-icon"></i>
            <p class="m-0 ps-3">찾기</p>
          </a>
        </li>

      </ul>

      <!-- NAV-LINKS -->
      <ul class="navbar-nav">

        <!-- LINK to FIND DOG SECTION -->
        <li class="nav-item ms-2">
          <a class="nav-link active" href="#find-dog-section" onclick="moveToAbandonedDogPage()">유기견</a>
        </li>

        <!-- LINK to SURVEY SECTION -->
        <li class="nav-item ms-2">
          <a class="nav-link nav-survey" href="#survey-section" onclick="moveToSurveyPage()">보호소</a>
        </li>

      </ul>

    </div>
  </nav>

  <!-------------------- FILTER MODAL -------------------->
  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal Content -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header justify-content-center">
          <div class="row w-100">

            <div class="col-12 align-items-center justify-content-end d-flex p-0">
              <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="col-12 align-items-center justify-content-center d-flex">
              <h4 class="modal-title" id="filterModalLabel">검색조건 설정</h4>
            </div>

          </div>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <!-- Time Filter (기간 필터) -->
          <div class="row">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">기간</p>
              </label>
            </div>

            <div id="date-picker-container" class="col-9">
              <div class="row">
                <div class="date-picker-start col ps-0"></div>
                <div class="date-picker-end col ps-0"></div>
              </div>
            </div>

          </div>

          <!-- State & City Filter (시군구 & 도시 필터) -->
          <div class="row pt-4">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">지역</p>
              </label>
            </div>

            <div class="col-9">

              <div class="filter-region-container row ps-0">
                <select id="city-filter-list-toggle" class="filter-state form-select col" name="city-filter-list-toggle" style="padding-right: 12px;">
                  <option selected value="전체">모든 지역</option>
                  <option value="서울특별시">서울특별시</option>
                  <option value="부산광역시">부산광역시</option>
                  <option value="대구광역시">대구광역시</option>
                  <option value="인천광역시">인천광역시</option>
                  <option value="광주광역시">광주광역시</option>
                  <option value="세종특별자치시">세종특별자치시</option>
                  <option value="대전광역시">대전광역시</option>
                  <option value="울산광역시">울산광역시</option>
                  <option value="경기도">경기도</option>
                  <option value="강원도">강원도</option>
                  <option value="충청북도">충청북도</option>
                  <option value="충청남도">충청남도</option>
                  <option value="전라북도">전라북도</option>
                  <option value="전라남도">전라남도</option>
                  <option value="경상북도">경상북도</option>
                  <option value="경상남도">경상남도</option>
                  <option value="제주특별자치도">제주특별자치도</option>
                </select>

                <div class="region-filter-gap"></div>

                <select id="city-filter-list-before" class="filter-city form-select col" disabled style="padding-right: 12px;">
                  <option selected value="전체">전체</option>
                </select>

                <select id="city-filter-list-after" class="filter-city form-select col" name="city-filter-list-after" style="display: none; padding-right: 12px;">
                  <option id="city-filter-default" selected value='전체'>전체</option>
                </select>
              </div>

            </div>

          </div>

          <!-- Breed Filter (품종 필터) -->
          <div class="row pt-4">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">품종</p>
              </label>
            </div>

            <div class="col-9 ps-0">
              <select id="filter-breed" class="filter-breed form-select" name="filter-breed" style="padding-right: 12px;">
              </select>
            </div>

          </div>

        </div>

        <!-- Modal Footer -->
        <div class="modal-footer align-items-center justify-content-center d-flex">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="filter-submit-button btn btn-primary" onclick="filterSearch()">검색하기</button>
        </div>

      </div>

    </div>
  </div>

  <!-------------------- DOG POST -------------------->
  <section class="container-fluid min-vh-100 px-0" id="dog-posts-section">
    <div class="overlay-dog-posts-section min-vh-100 dog-posts-bg" style="background-image: url({{ url_for('static', filename='img/animated-dog-2.jpg') }})">
      <div class="container">

        <div class="dog-post-container justify-content-center">

          <!-- Dog post container -->
          <div class="dog-post row justify-content-center">

            <!-- Dog img -->
            <div class="dog-img-container col-12 col-lg-5 align-items-center justify-content-center d-flex">
              <img class="dog-post-img d-block" src="{{ dog_info['popfile'] }}" alt="dog photo">
            </div>

            <!-- Dog basic info -->
            <div class="basic-info-container col-12 col-lg-7">
              <div class="row h-100">

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex flex-column text-center basic-info-item-1">
                    <h4 class="m-0">
                      {{ dog_info["kindCd"] }}
                    </h4>
                    {% if 'kindCd_predict' in dog_info %}
                    <h4 class="m-0">
                      ({{ dog_info["kindCd_predict"] }} {{ dog_info["breed_chance"] }}%)
                    </h4>
                    {% endif %}

                  </div>
                </div>

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-1">
                    <h4 class="m-0">
                      {% if dog_info["sexCd"] == 'M' %}
                      <i class="fa-solid fa-mars fa-lg pe-2" style="color:#04A2F5"></i>수컷
                      {% else %}
                      <i class="fa-solid fa-venus fa-lg pe-2" style="color:#E73E77"></i>암컷
                      {% endif %}
                    </h4>
                  </div>
                </div>

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-1">
                    <h4 class="m-0">
                      {{ dog_info["age"] }}
                    </h4>
                  </div>
                </div>

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-1">
                    <h4 class="m-0">
                      {% if dog_info["neuterYn"] == 'Y' %}
                      <i class="fa-regular fa-circle-check fa-lg pe-1" style="color:#04A2F5"></i>
                      {% elif dog_info["neuterYn"] == 'N' %}
                      <i class="fa-regular fa-circle-xmark fa-lg pe-1" style="color:#E73E77"></i>
                      {% else %}
                      <i class="fa-regular fa-circle-question fa-lg pe-1" style="color:#FFAE42"></i>
                      {% endif %}
                      중성화
                    </h4>
                  </div>
                </div>

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-1">
                    <h4 class="m-0">
                      {{ dog_info["colorCd"] }}
                    </h4>
                  </div>
                </div>

                <div class="col-4 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-1">
                    <h4 class="m-0">
                      {{ dog_info["weight"] }}
                    </h4>
                  </div>
                </div>

                <div class="col-12 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-2">
                    <h4 class="m-0">공고번호 : {{ dog_info["noticeNo"] }}</h4>
                  </div>
                </div>

                <div class="col-12 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-2">
                    <h4 class="m-0">공고기간 : {{ dog_info["noticeSdt"] }} ~ {{ dog_info["noticeEdt"] }}</h4>
                  </div>
                </div>

                <div class="col-12 p-2">
                  <div class="h-100 align-items-center justify-content-center d-flex basic-info-item-2">
                    <h4 class="m-0">발견장소 : {{ dog_info["happenPlace"] }}</h4>
                  </div>
                </div>

              </div>
            </div>

            <!-- Breed, Care, Region Info -->
            <div class="detail-info-container col-12 border border-2 d-flex flex-row justify-content-evenly">
              <div class="row p-1">

                <!-- Panel trait (basic) -->
                <div class="panel-trait-basic-container col-12">
                  <div class="row border border-2">

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-earth-americas fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">원산지</p>
                        <p class="m-0 pb-2">{{ dog_info["origin"] }}</p>
                      </div>
                    </div>

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-shield-dog fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">견종 분류</p>
                        <p class="m-0 pb-2">{{ dog_info["usage"] }}</p>
                      </div>
                    </div>

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-dog fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">견종 크기</p>
                        <p class="m-0 pb-2">{{ dog_info["size"] }}</p>
                      </div>
                    </div>

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-ruler-vertical fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">키</p>
                        <p class="m-0 pb-2">{{ dog_info["height"] }}</p>
                      </div>
                    </div>

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-weight-scale fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">몸무게</p>
                        <p class="m-0 pb-2">{{ dog_info["breed_weight"] }}</p>
                      </div>
                    </div>

                    <div class="panel-trait-basic col-6 col-md-4 col-lg-2 p-2">
                      <div class="panel-trait-basic-badge h-100 align-items-center justify-content-center d-flex flex-column text-center">
                        <i class="fa-solid fa-palette fa-3x pb-3 pt-2" style="color: #19B394;"></i>
                        <p class="m-0 pb-2">색깔</p>
                        <p class="m-0 pb-2">{{ dog_info["color"] }}</p>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Panel trait (stats) -->
                <div class="panel-trait-stat-container col-12">
                  <div class="row border border-2">

                    <div class="panel-trait col-12 col-lg">
                      <div class="h-100 align-items-center justify-content-center d-flex">
                        <button class="trait_A btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#panel_A" aria-expanded="false" aria-controls="collapseExample">
                          <p class="m-0 fw-bold pb-2">적응 능력</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['A'] }}%" aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['A'] }}"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="panel-trait col-12 col-lg">
                      <div class="h-100 align-items-center justify-content-center d-flex">
                        <button class="trait_B btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#panel_B" aria-expanded="false" aria-controls="collapseExample">
                          <p class="m-0 fw-bold pb-2">친절함</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['b_friendliness']['B'] }}%" aria-valuenow="{{ dog_info['panel_data']['b_friendliness']['B'] }}"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="panel-trait col-12 col-lg">
                      <div class="h-100 align-items-center justify-content-center d-flex">
                        <button class="trait_C btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#panel_C" aria-expanded="false" aria-controls="collapseExample">
                          <p class="m-0 fw-bold pb-2">건강 및 관리</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['C'] }}%" aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['C'] }}"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="panel-trait col-12 col-lg">
                      <div class="h-100 align-items-center justify-content-center d-flex">
                        <button class="trait_D btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#panel_D" aria-expanded="false" aria-controls="collapseExample">
                          <p class="m-0 fw-bold pb-2">훈련 난이도</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['D'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['D'] }}" aria-valuemin="0"
                              aria-valuemax="100"></div>
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="panel-trait col-12 col-lg">
                      <div class="h-100 align-items-center justify-content-center d-flex">
                        <button class="trait_E btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#panel_E" aria-expanded="false" aria-controls="collapseExample">
                          <p class="m-0 fw-bold pb-2">활동량</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['e_exercise']['E'] }}%" aria-valuenow="{{ dog_info['panel_data']['e_exercise']['E'] }}"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="panel-show col-12">
                      <div class="collapse" id="panel_A">
                        <div class="card card-body">

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">아파트 적응도</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a1'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a1'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">반려인 적합도</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a2'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a2'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">민감도</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a3'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a3'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">외로움 적응력</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a4'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a4'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">추위 내성</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a5'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a5'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">더위 내성</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['a_adaptability']['a6'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['a_adaptability']['a6'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="collapse" id="panel_B">
                        <div class="card card-body">

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">가족과 다정하다</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['b_friendliness']['b1'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['b_friendliness']['b1'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">아이들과 잘 어울리는</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['b_friendliness']['b2'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['b_friendliness']['b2'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">다른 개들과 잘 어울리는</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['b_friendliness']['b3'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['b_friendliness']['b3'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">낯선사람과 잘 어울리는</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['b_friendliness']['b4'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['b_friendliness']['b4'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="collapse" id="panel_C">
                        <div class="card card-body">

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">털 날림</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c1'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c1'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">침 흘림</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c2'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c2'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">관리하기 쉬운</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c3'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c3'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">건강</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c4'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c4'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">체중 증가 가능성</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c5'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c5'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">크기</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['c_health_groom']['c6'] }}%"
                                  aria-valuenow="{{ dog_info['panel_data']['c_health_groom']['c6'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="collapse" id="panel_D">
                        <div class="card card-body">

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">훈련 하기 쉬운</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d1'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d1'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">지능</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d2'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d2'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">입질</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d3'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d3'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">사냥 본능</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d4'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d4'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">짖는 경향</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d5'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d5'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">호기심</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['d_train']['d6'] }}%" aria-valuenow="{{ dog_info['panel_data']['d_train']['d6'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="collapse" id="panel_E">
                        <div class="card card-body">

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">활동적</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['e_exercise']['e1'] }}%" aria-valuenow="{{ dog_info['panel_data']['e_exercise']['e1'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">활기찬/기운</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['e_exercise']['e2'] }}%" aria-valuenow="{{ dog_info['panel_data']['e_exercise']['e2'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">운동 필요성</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['e_exercise']['e3'] }}%" aria-valuenow="{{ dog_info['panel_data']['e_exercise']['e3'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <p class="fw-bold" style="color: #19B394;">놀기 좋아하는</p>
                            </div>
                            <div class="col-10">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ dog_info['panel_data']['e_exercise']['e4'] }}%" aria-valuenow="{{ dog_info['panel_data']['e_exercise']['e4'] }}"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Breed info -->
                <div class="breed-info-container col-12">
                  <div class="row border border-2">

                    <div class="col-12">
                      <div class="row h-100">

                        <!--------------- INFORMATIONS (Button) --------------->

                        <!-- Breed History Title (Button) -->
                        <div class="col-12 col-lg p-2 breed_history_title">
                          <div class="h-100 align-items-center justify-content-center d-flex">
                            <button class="breed_history_btn btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#breed_history" aria-expanded="false" aria-controls="collapseExample">
                              {% if 'kindCd_predict' in dog_info %}
                              <p class="fw-bold m-0">{{ dog_info["kindCd_predict"] }} 기원과 역사</p>
                              {% else %}
                              <p class="fw-bold m-0">{{ dog_info["kindCd"] }} 기원과 역사</p>
                              {% endif %}
                            </button>
                          </div>
                        </div>

                        <!-- Breed Info Title (Button) -->
                        <div class="col-12 col-lg p-2 breed_info_title">
                          <div class="h-100 align-items-center justify-content-center d-flex">
                            <button class="breed_info_btn btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#breed_info" aria-expanded="false" aria-controls="collapseExample">
                              {% if 'kindCd_predict' in dog_info %}
                              <p class="fw-bold m-0">{{ dog_info["kindCd_predict"] }} 설명</p>
                              {% else %}
                              <p class="fw-bold m-0">{{ dog_info["kindCd"] }} 설명</p>
                              {% endif %}
                            </button>
                          </div>
                        </div>

                        <!-- Care Comment Title (Button) -->
                        <div class="col-12 col-lg p-2 care_comment_title">
                          <div class="h-100 align-items-center justify-content-center d-flex">
                            <button class="care_comment_btn btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#care_comment" aria-expanded="false" aria-controls="collapseExample">
                              <p class="fw-bold m-0">보호소 소견</p>
                            </button>
                          </div>
                        </div>

                        <!-- Care Center Title (Button) -->
                        <div class="col-12 col-lg p-2 care_center_title">
                          <div class="h-100 align-items-center justify-content-center d-flex">
                            <button class="care_center_btn btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#care_center" aria-expanded="false" aria-controls="collapseExample">
                              <p class="fw-bold m-0">보호센터</p>
                            </button>
                          </div>
                        </div>

                        <!-- Care Region Title (Button) -->
                        <div class="col-12 col-lg p-2 care_region_title">
                          <div class="h-100 align-items-center justify-content-center d-flex">
                            <button class="care_region_btn btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#care_region" aria-expanded="false" aria-controls="collapseExample">
                              <p class="fw-bold m-0">담당부서</p>
                            </button>
                          </div>
                        </div>

                        <!--------------- INFORMATIONS (Toggle) --------------->

                        <!-- Breed History Info (Toggle) -->
                        <div class="col-12 breed_history_toggle">
                          <div class="h-100 align-items-center justify-content-center d-flex flex-column">
                            <div class="collapse" id="breed_history">
                              <div class="card card-body">
                                <p class="m-0">{{ dog_info["describe"] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Breed Info (Toggle) -->
                        <div class="col-12 breed_info_toggle">
                          <div class="h-100 align-items-center justify-content-center d-flex flex-column">
                            <div class="collapse" id="breed_info">
                              <div class="card card-body">
                                <p class="m-0">{{ dog_info["trait"] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Care Comment Info (Toggle) -->
                        <div class="col-12 care_comment_toggle">
                          <div class="h-100 align-items-center justify-content-center d-flex flex-column">
                            <div class="collapse" id="care_comment">
                              <div class="card card-body">
                                <p class="m-0">{{ dog_info["specialMark"] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Care Center Info (Toggle) -->
                        <div class="col-12 care_center_toggle">
                          <div class="h-100 align-items-center justify-content-center d-flex flex-column">
                            <div class="collapse" id="care_center">
                              <div class="card card-body">
                                <p class="m-0">{{ dog_info["careNm"] }}</p>
                                <p class="m-0">{{ dog_info["careTel"] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Care Region Info (Toggle) -->
                        <div class="col-12 care_region_toggle">
                          <div class="h-100 align-items-center justify-content-center d-flex flex-column">
                            <div class="collapse" id="care_region">
                              <div class="card card-body">
                                <p class="m-0">{{ dog_info["orgNm"] }}</p>
                                <p class="m-0">{{ dog_info["officetel"] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
    </div>
  </section>

  <script id="template-breed-filter" type="text/template">
    <option value="{key}">{key} ({value} 마리)</option>
  </script>

  <!-------------------- MAIN JS -------------------->
  <script src="{{ url_for('static', filename='js/dog_info.js') }}"></script>

  <!-------------------- JS IMPORTS -------------------->

</body>

</html>