<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서초 AI 프로젝트 제목</title>

  <!-------------------- MAIN CSS -------------------->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/find_dog.css') }}">

  <!-------------------- CSS IMPORTS -------------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-------------------- JS IMPORTS(PRE) -------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/survey-jquery"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>

</head>

<body>

  <!-------------------- NAVBAR -------------------->
  <header id="header" class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-light py-3" id="navbar" aria-label="dog-navbar">
      <!-- navbar expands at md -->
      <div class="container">

        <!-- NAV-LOGO -->
        <a class="navbar-brand" href="#home">Abandog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dog-navbar" aria-controls="dog-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV-COLLAPSE -->
        <div class="collapse navbar-collapse" id="dog-navbar">

          <!-- NAV-LINKS -->
          <ul class="navbar-nav ms-auto">

            <!-- LINK to HOME SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link" href="#home-section">Home</a></li>

            <!-- LINK to FIND DOG SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link active" href="#find-dog-section">유기견 찾기</a></li>

            <!-- LINK to SURVEY SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link" href="#survey-section">AI 유기견 추천</a></li>

            <!-- LINK-DROPDOWN
            <li class="nav-item dropdown ms-md-4">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>

              DROPDOWN-LINKS
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->

          </ul>

        </div>
      </div>
    </nav>
  </header>

  <!-------------------- DOG LIST -------------------->
  <section class="container-fluid min-vh-100 px-0" id="dog-list-section">
    <div class="overlay-dog-list-section min-vh-100">
      <div class="container">

        <div class="dog-list row gy-5"></div>

      </div>
    </div>
  </section>

  <script id="template-dog-list" type="text/template">
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 bg-light">
      <div class="border">
        <h4>{breed_name_kr}</h4>
        <p>{breed_no}</p>
      </div>
    </div>
  </script>

  <!-------------------- MAIN JS -------------------->
  <script src="{{ url_for('static', filename='js/find_dog.js') }}"></script>

  <!-------------------- JS IMPORTS -------------------->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>

  <!-- Initiate Pure Counter -->
  <script>
    new PureCounter();
  </script>

</body>

</html>