<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서초 AI 프로젝트 제목</title>

  <!-------------------- CSS IMPORTS -------------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">

  <!-------------------- MAIN CSS -------------------->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/find_dog.css') }}">

  <!-------------------- JS IMPORTS -------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/survey-jquery" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <script src="https://kit.fontawesome.com/4946433bc0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

</head>

<body>

  <!-------------------- NAVBAR 1 -------------------->
  <header id="header" class="">
    <nav class="navbar navbar-expand-md navbar-light py-3" id="navbar" aria-label="dog-navbar">
      <!-- navbar expands at md -->
      <div class="container">

        <!-- NAV-LOGO -->
        <a class="navbar-brand navbar-logo" href="#home" onclick="moveToHomePage()">Abandog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dog-navbar" aria-controls="dog-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV-COLLAPSE -->
        <div class="collapse navbar-collapse" id="dog-navbar">

          <!-- NAV-LINKS -->
          <ul class="navbar-nav ms-auto">

            <!-- LINK to HOME SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link nav-home" href="#home-section" onclick="moveToHomePage()">Home</a></li>

            <!-- LINK to FIND DOG SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link active nav-find-dog" href="#find-dog-section" onclick="moveToAbandonedDogPage()">유기견 찾기</a></li>

            <!-- LINK to SURVEY SECTION -->
            <li class="nav-item ms-md-4"><a class="nav-link nav-survey" href="#survey-section" onclick="moveToSurveyPage()">AI 유기견 추천</a></li>

          </ul>

        </div>
      </div>
    </nav>
  </header>

  <!-------------------- NAVBAR 2 -------------------->
  <nav class="navbar navbar-expand navbar-light py-3 sticky-top" id="navbar2" aria-label="dog-navbar2">
    <div class="container" id="dog-navbar2">
      <ul class="navbar-nav filter-search-nav">

        <!-- NAV-FILTER SEARCH -->
        <li class="nav-item me-2">
          <a class="nav-link dog-search filter-search-links" data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="fa-solid fa-magnifying-glass fa-lg dog-search-icon"></i>
            <p class="m-0 ps-3">찾기</p>
          </a>
        </li>

      </ul>

      <!-- NAV-LINKS -->
      <ul class="navbar-nav">

        <!-- LINK to FIND DOG SECTION -->
        <li class="nav-item ms-2">
          <a class="nav-link active" href="#find-dog-section" onclick="moveToAbandonedDogPage()">유기견</a>
        </li>

        <!-- LINK to SURVEY SECTION -->
        <li class="nav-item ms-2">
          <a class="nav-link nav-survey" href="#survey-section" onclick="moveToSurveyPage()">보호소</a>
        </li>

      </ul>

    </div>
  </nav>

  <!-------------------- FILTER MODAL -------------------->
  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal Content -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header justify-content-center">
          <div class="row w-100">

            <div class="col-12 align-items-center justify-content-end d-flex p-0">
              <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="col-12 align-items-center justify-content-center d-flex">
              <h4 class="modal-title" id="filterModalLabel">검색조건 설정</h4>
            </div>

          </div>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <!-- Time Filter (기간 필터) -->
          <div class="row">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">기간</p>
              </label>
            </div>

            <div id="date-picker-container" class="col-9">
              <div class="row">
                <div class="date-picker-start col ps-0"></div>
                <div class="date-picker-end col ps-0"></div>
              </div>
            </div>

          </div>

          <!-- State & City Filter (시군구 & 도시 필터) -->
          <div class="row pt-4">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">지역</p>
              </label>
            </div>

            <div class="col-9">

              <div class="filter-region-container row ps-0">
                <select id="city-filter-list-toggle" class="filter-state form-select col" name="city-filter-list-toggle" style="padding-right: 12px;">
                  <option selected value="전체">모든 지역</option>
                  <option value="서울특별시">서울특별시</option>
                  <option value="부산광역시">부산광역시</option>
                  <option value="대구광역시">대구광역시</option>
                  <option value="인천광역시">인천광역시</option>
                  <option value="광주광역시">광주광역시</option>
                  <option value="세종특별자치시">세종특별자치시</option>
                  <option value="대전광역시">대전광역시</option>
                  <option value="울산광역시">울산광역시</option>
                  <option value="경기도">경기도</option>
                  <option value="강원도">강원도</option>
                  <option value="충청북도">충청북도</option>
                  <option value="충청남도">충청남도</option>
                  <option value="전라북도">전라북도</option>
                  <option value="전라남도">전라남도</option>
                  <option value="경상북도">경상북도</option>
                  <option value="경상남도">경상남도</option>
                  <option value="제주특별자치도">제주특별자치도</option>
                </select>

                <div class="region-filter-gap"></div>

                <select id="city-filter-list-before" class="filter-city form-select col" disabled style="padding-right: 12px;">
                  <option selected value="전체">전체</option>
                </select>

                <select id="city-filter-list-after" class="filter-city form-select col" name="city-filter-list-after" style="display: none; padding-right: 12px;">
                  <option id="city-filter-default" selected value="전체">전체</option>
                </select>
              </div>

            </div>

          </div>

          <!-- Breed Filter (품종 필터) -->
          <div class="row pt-4">

            <div class="col-3">
              <label class="input-group-text align-items-center justify-content-center d-flex" for="inputGroupSelect01">
                <p class="m-0">품종</p>
              </label>
            </div>

            <div class="col-9 ps-0">
              <select id="filter-breed" class="filter-breed form-select" name="filter-breed" style="padding-right: 12px;">
                <!-- <option selected value="전체">전체</option> -->
              </select>
            </div>

          </div>

        </div>

        <!-- Modal Footer -->
        <div class="modal-footer align-items-center justify-content-center d-flex">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="filter-submit-button btn btn-primary" onclick="filterSearch()">검색하기</button>
        </div>

      </div>

    </div>
  </div>

  <!-------------------- DOG LIST -------------------->
  <section class="container-fluid min-vh-100 px-0" id="dog-list-section">
    <div class="overlay-dog-list-section min-vh-100 find-dog-bg" style="background-image: url({{ url_for('static', filename='img/animated-dog-4.jpg') }})">
      <div class="dog-list-container container">

        <div class="dog-list row gy-5" id="data-container"></div>
        <div id="pagination"></div>
        <div class="footer-container h-100%">
          <p class="m-0 p-0 bg-transparent align-items-center justify-content-center d-flex">. . .</p>
        </div>

      </div>
    </div>
  </section>

  <script id="template-dog-list" type="text/template">
    <div class="dog-card-container col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <div class="dog-card card shadow-sm" id="{desertionNo}" onclick="moveToDogPosts(this)">
        
        <div class="row g-0">
          
          <div class="dog-thumbnail-container col-6 col-md-12">
            <img class="dog-thumbnail-img mx-auto d-block img-fluid" src="{popfile}" alt="Card image cap" style="height: 15rem;">
          </div> 

          <div class="card-body-container col-6 col-md-12">
            <div class="card-bottom card-body h-100 fw-bold d-flex flex-column justify-content-between">
              <div class="d-flex">
                <div class="">품종 :</div>
                <div class="ms-auto">{kindCd}</div>
              </div>
              
              <div class="d-flex">
                <div class="">성별 :</div>
                <div class="ms-auto">{sexCd}</div>
              </div>

              <div class="d-flex">
                <div class="">상태 :</div>
                <div class="ms-auto">{processState}</div>
              </div>
              
              <div class="d-flex">
                <div class="">등록일 :</div>
                <div class="ms-auto">{happenDt}</div>
              </div>
              
              <div class="d-flex">
                <div class="">지역 :</div>
                <div class="ms-auto">{noticeNo}</div>
              </div>

            </div>
          </div>
          
        </div>
      </div>
    </div>
  </script>

  <script id="template-breed-filter" type="text/template">
    <option value="{key}">{key} ({value} 마리)</option>
  </script>

  
  <script type="text/javascript">
    /**
    * DB에서 현재 보호중인 유기견들 불러오기
    */
    let abandonedDogList = {{response|safe}}
    console.log(abandonedDogList)

    let container = $('#pagination');
    container.pagination({
      dataSource: abandonedDogList,
      pageSize: 48,
      autoHidePrevious: true,
      autoHideNext: true,
      pageRange: 1,
      className: 'paginationjs-theme-blue paginationjs-big',
      callback: function (abandonedDogList, pagination) {
        // template method of yourself
        let template_dog_list = document.querySelector("#template-dog-list").innerHTML
        let res = ""
        for (i = 0; i < abandonedDogList.length; i++) {
          let dogSex;
          if (abandonedDogList[i].sexCd == "M") {
            dogSex = "<i class='fa-solid fa-mars fa-lg' style='color:#04A2F5'></i>"
          } else {
            dogSex = "<i class='fa-solid fa-venus fa-lg' style='color:#E73E77'></i>"
          }
          res += template_dog_list
            .replace("{popfile}", abandonedDogList[i].popfile)
            .replace("{kindCd}", abandonedDogList[i].kindCd)
            // .replace("{sexCd}", abandonedDogList[i].sexCd)
            .replace("{sexCd}", dogSex)
            .replace("{happenDt}", abandonedDogList[i].happenDt.slice(2))
            .replace("{noticeNo}", abandonedDogList[i].noticeNo)
            .replace("{processState}", abandonedDogList[i].processState)
            .replace("{desertionNo}", abandonedDogList[i].desertionNo)
        }
        document.querySelector(".dog-list").innerHTML = res
      }
    })
  </script>


  <!-- <script id="template-city-filter" type="text/template">
    <option selected value="전체">전체</option>
  </script> -->

  <!-------------------- MAIN JS -------------------->
  <script src="{{ url_for('static', filename='js/find_dog.js') }}"></script>

  <!-------------------- JS IMPORTS -------------------->

</body>

</html>